@model EntityLayer.Concrete.Organizer
@{
    ViewData["Title"] = "RegisterOrganizer";
    Layout = "~/Views/Shared/IndividualLayout.cshtml";
}
<br />
<h2>Organizatör Kayıt Olma Sayfası</h2>

<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Kayıt ol</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				@using (Html.BeginForm("RegisterOrganizer", "Register", FormMethod.Post))
				{
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationCustom01">Ad:</label>
							@Html.TextBoxFor(x=>x.OrganizerName, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.OrganizerName,"",new {@class="text-danger"})
							@*<input type="text" class="form-control" id="validationDefault01" name="OrganizerName" placeholder="" required="">*@
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Soyad:</label>
							@Html.TextBoxFor(x=>x.OrganizerSurname, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.OrganizerSurname,"",new {@class="text-danger"})
							@*<input type="text" class="form-control" id="validationDefault02" name="OrganizerSurname" placeholder="" required="">*@
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Mail:</label>
							@Html.TextBoxFor(x=>x.OrganizerMail, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.OrganizerMail,"",new {@class="text-danger"})
							@*<input type="text" class="form-control" id="validationDefault02" name="OrganizerMail" placeholder=" " required="">*@
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Password</label>
							@Html.TextBoxFor(x=>x.OrganizerPassword, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.OrganizerPassword,"",new {@class="text-danger"})
							@*<input type="password" class="form-control" id="password1" name="OrganizerPassword" placeholder="" required="">*@
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Confirm Password</label>
							@Html.TextBoxFor(x=>x.OrganizerPassword, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.OrganizerPassword,"",new {@class="text-danger"})
							@*<input type="password" class="form-control" id="password2" name="OrganizerPassword" placeholder="" required="">*@
						</div>

					</div>
					<button type="submit" class="btn btn-primary submit mb-4">Kayıt ol</button>
					
				}

			</div>
		</div>
	</div>
</section>

